@import url(../../css/reset.css);


/* ν—¤λ” */
#header .fl{
    position: relative;
    float:left;
    width: 80px;
    height: 20px;
    text-align: center;
    top: 40px;
    left: 40px;
}
#header .fr{
    position: relative;
    float:right;
    width: 80px;
    height: 20px;
    text-align: center;
    top: 40px;
    right: 20px;
}
#header{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
#header .logo{
    position: relative;
    float:left;
    width: 270px;
    height: 100px;
    top: 10px;
    left: 20px;
}
#header .bn{
    position: relative;
}
#header .header::after {
    content: '';
    display: block;
    clear: both;
}


/* ν‘Έν„° */

/* quickLink */
aside .quick_box{
    position:fixed;
    top:50%;
    right:0;
    z-index:30;
    width:80px;
    background-color:#fff;
    transform:translateY(-50%);
}
aside .quick_box p{
    padding:10px;
    background:#e76649;
    font-size:16px;
    line-height:21px;
    color:#fff;
    text-align:center;
}
aside .quick_box ul li{
    display:flex;
    align-items:center;
    justify-content:center;
    height:80px;
    border:1px solid #ccc;
    border-bottom:none;
}
aside .quick_box ul li:last-of-type{
    border-bottom:1px solid #ccc;
}
aside .quick_box ul li.top,
aside .quick_box ul li.bottom{
    height:30px;
}
aside .quick_box ul li a i{
    font-size:20px;
}

/* footer */
footer{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    background:#fff;
}
footer .footer_box{
    display:flex;
    align-items:center;
    margin:0 auto;
    padding:30px 0;
    max-width:1200px;
    box-sizing:border-box;
}
footer .footer_box .logo_box a{
    display:block;
    width:250px;
}
footer .footer_box .logo_box a img{
    width:100%;
    height:100%;
}
footer .footer_box div:not(.logo_box){
    padding-left:30px;
}
footer .footer_box ul li{
    display:inline-block;
    position:relative;
    margin-right:4px;
    padding-right:10px;
}
footer .footer_box ul li:after{
    content:'';
    position:absolute;
    top:50%;
    right:0;
    width:1px;
    height:9px;
    background:#555;
    transform:translateY(-50%);
}
footer .footer_box ul li:last-of-type:after{
    display:none;
}
footer .footer_box ul li a{
    display:block;
}
footer .footer_box .copyright{
    padding-top:10px;
}

